
@{
    ViewData["Title"] = "Guide";
}

<br>

<h2 style="text-align:center">Helpful info on Chemical Spills</h2>
<div class="jumbotron">
    <div class="col-4">
        <h4>chem spills</h4>
    </div>
    <div class="col-8">
        <h4>chem spills definiton</h4>
    </div>
</div>
