
@{
    ViewData["Title"] = "Guide";
}
<br>
<h2 style="text-align:center">Helpful info on Chemical Spills</h2>
<br>

<div>
    <div class="row">
        <div class="col-3">
            <h5>Chemical Spills:</h5>
        </div>
        <div class="col-8">
            <p>
                Chemical spills can be classified as major or minor depedning
                on a variety of factors including weather, quantity and the type of chemical.
                If someone may be in the vicinity of a potential
                spill be very cautious and make sure to keep a safe distance.
            </p>
        </div>
    </div>
    @*//*@
    <div class="row">
        <div class="col-3">
            <h5>Who to Contact:</h5>
        </div>
        <div class="col-8">
            <p>
                Notifying the local authorities is the safest measure someone could take.
                If the spill happened on company site make sure to inform a supervisor immediately. In the event
                of a public emergency it may be necessary to contact the National Response Center (800-424-8802).
            </p>
        </div>
    </div>
    @*//*@
    <div class="row">
        <div class="col-3">
            <h5>How We Can Help:</h5>
        </div>
        <div class="col-8">
            <p>
                Our site offers the ability for a person to assess a chemical spill and apply that knowledege to our forms and
                calculator in order to determine if such a spill is deemed worth reporting. More to come ...
            </p>
        </div>
    </div>
    @*//*@
    <div class="row">
        <div class="col-3">
            <h5>Other Useful Links</h5>
        </div>
        <div class="col-8">
            <p>
                <a href="https://www.epa.gov/pesticide-incidents/how-report-spills-and-environmental-violations#:~:text=For%20emergencies%20and%20other%20sudden%20threats%20to%20public,spills%2C%202%20radiation%20emergencies%2C%20and%203%20biological%20discharges%2C">EPA Chemical Spill info</a>
                <br>
                <a href="https://www.youtube.com/watch?v=lRNs2OpPRWM&t=42s">Spill example video in the workplace</a>
                <br>
                <a href="https://ehs.princeton.edu/chemical/spill/procedures">Princeton Universitys Spill Procedures</a>
            
            </p>
        </div>
    </div>
</div>