@model SpillTracker.Models.Home

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <img src="~/images/spilltrackerReadmeLogo.png" alt="Spill Tracker Logo" style="width: 90%; height: 40%"/>
</div>

<br>
<br>

<div class="text-center">
    <p class="lead" class="text-sm-left">For environmental workers who need to report spills or look up information about chemicals if a report is needed. 
       The Chemical Spill Tracker is an information system that will allow users to calculate whether or not a spill at the 
       company or location will need to be reported to the proper authorities and if so, who to contact.</p>
</div>

<br>
<br>
<br>
<div class="row">
    <div class="col border rounded">
        <p class="lead">Link to scaped chemical information <a href="https://www.ecfr.gov/cgi-bin/text-idx?node=pt40.30.355&rgn=div5#ap40.30.355_161.a" target="_blank">here.</a></p>
        <p class="lead">Link to scaped chemical information <a href="https://www.ecfr.gov/cgi-bin/text-idx?SID=cf9016ebebd8898fcd57f71e1b66a7af&mc=true&node=se40.30.302_14&rgn=div8" target="_blank">here.</a></p>
        <p class="lead">Link to PubChem API information <a href="https://pubchem.ncbi.nlm.nih.gov/" target="_blank">here.</a></p>
    </div>
    <div class="col-sm-1">

    </div>
    <div class="col border rounded" style="border: 5% solid black;">
        <p class="lead">There are currently <b>@Model.chemicals.Count()</b> chemicals stored in our database!</p>
        <br>
        <p class="lead">The EPCRA list of Extremely Hazardous Substances was last scraped on <b>@Model.times.Last().EpcrascraperTime</b></p>
        <br>
        <p class="lead">The CERCLA list of Extremely Hazardous Substances was last scraped on <b> @Model.times.Last().CerclaScraperTime</b></p>
        <br>
        <p class="lead">The Pub Chem API was last succesfully ran on <b>@Model.times.Last().PubChemApitime</b> </p>
    </div>
</div>
