@model SpillTracker.Models.Form

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@* <div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SpillReportedBy" class="control-label"></label>
                <input asp-for="SpillReportedBy" class="form-control" />
                <span asp-validation-for="SpillReportedBy" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="SpillReportedTime" class="control-label"></label>
                <input asp-for="SpillReportedTime" class="form-control" />
                <span asp-validation-for="SpillReportedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillLocation" class="control-label"></label>
                <input asp-for="SpillLocation" class="form-control" />
                <span asp-validation-for="SpillLocation" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="SpillOngoing" class="control-label"></label>
                <input asp-for="SpillOngoing" class="form-control" />
                <span asp-validation-for="SpillOngoing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillContained" class="control-label"></label>
                <input asp-for="SpillContained" class="form-control" />
                <span asp-validation-for="SpillContained" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChemicalPressurized" class="control-label"></label>
                <input asp-for="ChemicalPressurized" class="form-control" />
                <span asp-validation-for="ChemicalPressurized" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillVolume" class="control-label"></label>
                <input asp-for="SpillVolume" class="form-control" />
                <span asp-validation-for="SpillVolume" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="SpillVolumeUnits" class="control-label"></label>
                <input asp-for="SpillVolumeUnits" class="form-control" />
                <span asp-validation-for="SpillVolumeUnits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChemicalConcentration" class="control-label"></label>
                <input asp-for="ChemicalConcentration" class="form-control" />
                <span asp-validation-for="ChemicalConcentration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillFormingPuddle" class="control-label"></label>
                <input asp-for="SpillFormingPuddle" class="form-control" />
                <span asp-validation-for="SpillFormingPuddle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillReachWaterSource" class="control-label"></label>
                <input asp-for="SpillReachWaterSource" class="form-control" />
                <span asp-validation-for="SpillReachWaterSource" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WaterSource" class="control-label"></label>
                <input asp-for="WaterSource" class="form-control" />
                <span asp-validation-for="WaterSource" class="text-danger"></span>
            </div>
            <div class="form-group"> 
                <label asp-for="SpillDuration" class="control-label"></label>
                <input asp-for="SpillDuration" class="form-control" />
                <span asp-validation-for="SpillDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CleanupStartTime" class="control-label"></label>
                <input asp-for="CleanupStartTime" class="form-control" />
                <span asp-validation-for="CleanupStartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChemicalTemperature" class="control-label"></label>
                <input asp-for="ChemicalTemperature" class="form-control" />
                <span asp-validation-for="ChemicalTemperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChemicalTemperatureUnits" class="control-label"></label>
                <input asp-for="ChemicalTemperatureUnits" class="form-control" />
                <span asp-validation-for="ChemicalTemperatureUnits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillWidth" class="control-label"></label>
                <input asp-for="SpillWidth" class="form-control" />
                <span asp-validation-for="SpillWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillWidthUnits" class="control-label"></label>
                <input asp-for="SpillWidthUnits" class="form-control" />
                <span asp-validation-for="SpillWidthUnits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillLength" class="control-label"></label>
                <input asp-for="SpillLength" class="form-control" />
                <span asp-validation-for="SpillLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillLengthUnits" class="control-label"></label>
                <input asp-for="SpillLengthUnits" class="form-control" />
                <span asp-validation-for="SpillLengthUnits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillDepth" class="control-label"></label>
                <input asp-for="SpillDepth" class="form-control" />
                <span asp-validation-for="SpillDepth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillDepthUnits" class="control-label"></label>
                <input asp-for="SpillDepthUnits" class="form-control" />
                <span asp-validation-for="SpillDepthUnits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillArea" class="control-label"></label>
                <input asp-for="SpillArea" class="form-control" />
                <span asp-validation-for="SpillArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillAreaUnits" class="control-label"></label>
                <input asp-for="SpillAreaUnits" class="form-control" />
                <span asp-validation-for="SpillAreaUnits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillReportable" class="control-label"></label>
                <input asp-for="SpillReportable" class="form-control" />
                <span asp-validation-for="SpillReportable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WindDirection" class="control-label"></label>
                <input asp-for="WindDirection" class="form-control" />
                <span asp-validation-for="WindDirection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WindSpeed" class="control-label"></label>
                <input asp-for="WindSpeed" class="form-control" />
                <span asp-validation-for="WindSpeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WindSpeedUnits" class="control-label"></label>
                <input asp-for="WindSpeedUnits" class="form-control" />
                <span asp-validation-for="WindSpeedUnits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressStreet" class="control-label"></label>
                <input asp-for="AddressStreet" class="form-control" />
                <span asp-validation-for="AddressStreet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressCity" class="control-label"></label>
                <input asp-for="AddressCity" class="form-control" />
                <span asp-validation-for="AddressCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressState" class="control-label"></label>
                <input asp-for="AddressState" class="form-control" />
                <span asp-validation-for="AddressState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressZip" class="control-label"></label>
                <input asp-for="AddressZip" class="form-control" />
                <span asp-validation-for="AddressZip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeatherTemperature" class="control-label"></label>
                <input asp-for="WeatherTemperature" class="form-control" />
                <span asp-validation-for="WeatherTemperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeatherTemperatureUnits" class="control-label"></label>
                <input asp-for="WeatherTemperatureUnits" class="form-control" />
                <span asp-validation-for="WeatherTemperatureUnits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeatherHumidity" class="control-label"></label>
                <input asp-for="WeatherHumidity" class="form-control" />
                <span asp-validation-for="WeatherHumidity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeatherHumidityUnits" class="control-label"></label>
                <input asp-for="WeatherHumidityUnits" class="form-control" />
                <span asp-validation-for="WeatherHumidityUnits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkyConditions" class="control-label"></label>
                <input asp-for="SkyConditions" class="form-control" />
                <span asp-validation-for="SkyConditions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillEvaporationRate" class="control-label"></label>
                <input asp-for="SpillEvaporationRate" class="form-control" />
                <span asp-validation-for="SpillEvaporationRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillEvaporationRateUnits" class="control-label"></label>
                <input asp-for="SpillEvaporationRateUnits" class="form-control" />
                <span asp-validation-for="SpillEvaporationRateUnits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountEvaporated" class="control-label"></label>
                <input asp-for="AmountEvaporated" class="form-control" />
                <span asp-validation-for="AmountEvaporated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountEvaporatedUnits" class="control-label"></label>
                <input asp-for="AmountEvaporatedUnits" class="form-control" />
                <span asp-validation-for="AmountEvaporatedUnits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountSpilled" class="control-label"></label>
                <input asp-for="AmountSpilled" class="form-control" />
                <span asp-validation-for="AmountSpilled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountSpilledUnits" class="control-label"></label>
                <input asp-for="AmountSpilledUnits" class="form-control" />
                <span asp-validation-for="AmountSpilledUnits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactNotes" class="control-label"></label>
                <input asp-for="ContactNotes" class="form-control" />
                <span asp-validation-for="ContactNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StuserId" class="control-label"></label>
                <select asp-for="StuserId" class ="form-control" asp-items="ViewBag.StuserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ChemicalId" class="control-label"></label>
                <select asp-for="ChemicalId" class ="form-control" asp-items="ViewBag.ChemicalId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SpillSurfaceId" class="control-label"></label>
                <select asp-for="SpillSurfaceId" class ="form-control" asp-items="ViewBag.SpillSurfaceId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ChemicalStateId" class="control-label"></label>
                <select asp-for="ChemicalStateId" class ="form-control" asp-items="ViewBag.ChemicalStateId"></select>
            </div>
             <div class="form-group">
                <label asp-for="FacilityId" class="control-label"></label>
                <select asp-for="FacilityId" class ="form-control" asp-items="ViewBag.FacilityId"></select>
            </div>  
        </form>
    </div>
</div> *@



@* My create function that will use the above info temporarily *@

<div class="border-bottom box-shadow" style="margin-top: 10%; text-align: center; width: 55%;  margin: auto; ">
    <form id="regForm" asp-action="Create" style="text-align: center; margin-left: 5%; ">

        <div class="form-group tab">
            <h1>General Info</h1>
            <div class="form-group">
                <label asp-for="SpillReportedBy" class="control-label">Reported By: </label>
                <input type="text" id="SpillReportedBy" asp-for="SpillReportedBy" class="form-control" placeholder="Joe Smith" />
                <span asp-validation-for="SpillReportedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillReportedDate" class="control-label">Date of Spill: </label>
                <input type="date" id="SpillReportedDate" asp-for="SpillReportedDate" class="form-control" />
                <span asp-validation-for="SpillReportedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillReportedTime" class="control-label">Time of Spill: </label>
                <input type="time" id="SpillReportedTime" asp-for="SpillReportedTime" class="form-control" />
                <span asp-validation-for="SpillReportedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacilityId" class="control-label">Facility: </label>
                @*<input type="text" id="FacilityId" asp-for="FacilityId" class="form-control" value="@Model.Facility.Id" disabled />*@
                <select id="FacilityId" asp-for="FacilityId" class="form-control" asp-items="ViewBag.FacilityId"></select>
                <span asp-validation-for="FacilityId" class="text-danger"></span>
            </div>
            <div>
                <label>Is the spill contained?@Html.CheckBox("SpillContained", false)</label>
            </div>
            <div>
                <label>Is the spill ongoing? @Html.CheckBox("SpillOngoing", false)</label>
            </div>
            <div>
                <label>Do you need assistance? @Html.CheckBox("NeedAssistance", false)</label>
            </div>
        </div>

        <div class="form-group tab">
            <h1>Location Info</h1>
            
            <div class="form-group">
                <label id="SpillLocationLabel" asp-for="SpillLocation" class="control-label">Facility Coordinates:</label>
                <input type="text" id="SpillLocation" asp-for="SpillLocation" class="form-control" />
                <span asp-validation-for="SpillLocation" class="text-danger"></span>
            </div>
            <div>
                <label for="spillNotAtFacilityChkbox">Spill Occured In Transport?</label>
                <input type="checkbox" id="spillNotAtFacilityChkbox" onclick="displayMap()" />
            </div>
            <div id="interactiveMap" style="display:none;">
                <p>Put a pin on the map below where it happened</p>
                <img src="https://via.placeholder.com/400" alt="placeholder for map">
            </div>

        </div>

        <div class="form-group tab">
            <h1>Chemical Info</h1>
            <div>
                <label asp-for="FacilityChemicalId">Chemical:</label>
                <select asp-for="FacilityChemicalId" class="form-control" asp-items="ViewBag.ChemicalId" id="ChemicalId"></select>
            </div>
            <p>
                Amount of Chemical Spilled:
                <input asp-for="SpillVolume" class="form-control" type="number" placeholder="Volume of Chemical Spilled" id="SpillVolume">
                <select type="text" class="form-control" asp-for="SpillVolumeUnits" id="SpillVolumeUnits">
                    <option value="lbs.">lbs.</option>
                    @*<option value="kgs.">kgs.</option>*@
                    <option value="gal.">gal.</option>
                </select>
            </p>
        </div>

        <div class="form-group tab">
            <h1>Chemical Info</h1>
            <div>
                <label for="selectedChem">Selected Chemical:</label>
                <input type="text" class="form-control" id="selectedChem" disabled />
            </div>
            <div>
                <label asp-for="ChemicalConcentration">Chemical Concentration:</label>
                <input class="form-control" placeholder="Chemical Concentration without the '%'" asp-for="ChemicalConcentration" id="ChemicalConcentration" >
            </div>
            <div>
                <label asp-for="ChemicalTemperature">Temperature of Chemical:</label>
                <input class="form-control" placeholder="Chemical Temperature" asp-for="ChemicalTemperature" id="ChemicalTemperature" >
                <select type="text" class="form-control" asp-for="ChemicalTemperatureUnits" id="ChemicalTemperatureUnits" >
                    <option value="&#8457">°F</option>
                    <option value="&#8451">°C</option>
                </select>
            </div>
            <div>
                <label asp-for="ChemicalStateId">Chemical State:</label>
                <select class="form-control" asp-items="ViewBag.ChemicalStateId" asp-for="ChemicalStateId" id="ChemicalStateId" ></select>
            </div>
            <div>
                <label>Is the chemical pressurized? @Html.CheckBox("ChemicalPressurized", false)</label>
            </div>
        </div>

        <div class="form-group tab">
            <h1>Weather Info</h1>
            <div>
                <label for="weatherLoction">Location:</label>
                <input type="text" class="form-control" id="weatherLoction"  />
            </div>
            <div>
                <label asp-for="SkyConditions">Sky Conditions:</label>
                <input type="text" class="form-control" asp-for="SkyConditions" id="SkyConditions"  />
            </div>
            <div>
                <label asp-for="WeatherTemperature">Temperature:</label>
                <input type="number" class="form-control" asp-for="WeatherTemperature" id="WeatherTemperature" >
                <select type="text" class="form-control" asp-for="WeatherTemperatureUnits" id="WeatherTemperatureUnits" >
                    <option value="°F">°F</option>
                    <option value="°C">°C</option>
                </select>
            </div>
            <div>
                <label asp-for="WindSpeed">Wind:</label>
                <input type="number" class="form-control" asp-for="WindSpeed" id="WindSpeed" >
                <select type="text" class="form-control" asp-for="WindSpeedUnits" id="WindSpeedUnits" >
                    <option value="M/S">M/S</option>
                    <option value="MPH">MPH</option>
                    @*<option value="knots">knots</option>
                    <option value="ft/s">ft/s</option>*@
                </select>
                <select type="text" class="form-control" asp-for="WindDirection" id="WindDirection" >
                    <option value="N">N</option>
                    <option value="NNE">NNE</option>
                    <option value="NE">NE</option>
                    <option value="ENE">ENE</option>
                    <option value="E">E</option>
                    <option value="ESE">ESE</option>
                    <option value="SE">SE</option>
                    <option value="SSE">SSE</option>
                    <option value="S">S</option>
                    <option value="SSW">SSW</option>
                    <option value="SW">SW</option>
                    <option value="WSW">WSW</option>
                    <option value="W">W</option>
                    <option value="WNW">WNW</option>
                    <option value="NW">NW</option>
                    <option value="NNW">NNW</option>
                </select>
            </div>
            <div>
                <label asp-for="WeatherHumidity">Humidity:</label>
                <input class="form-control" asp-for="WeatherHumidity" id="WeatherHumidity" >
                <select type="text" class="form-control" asp-for="WeatherHumidityUnits" id="WeatherHumidityUnits" >
                    <option value="%">%</option>
                    @*<option value="g/&#13221">g/&#13221</option>
                    <option value="g/kg">g/kg</option>*@
                </select>
            </div>
        </div>

        <div class="form-group tab">
            <h1>Spill Information</h1>
            
            <p>
                    <label>Can the spill reach a water source?</label>
                    <input style="display: block;" value="false" type="checkbox"id="waterCheck" onclick="water()">
            </p>
            <p style="display:none;" id="watertext"><input placeholder="What water source?" type="text" asp-for="WaterSource" id="WaterSource"></p>
            <p>
                <label>Is the Spill Forming a Puddle?
                <input style="display: block;" value="false" type="checkbox"id="puddleCheck" onclick="puddle()">
                </label>
            </p>
            <div @*style="display:none;"*@ id="puddletext">
                <p>
                    <input type="number" asp-for="SpillWidth" id="SpillWidth">
                    <select asp-for="SpillWidthUnits" id="">
                        <option value="in">feet</option>
                        <option value="ft">inches</option>
                        @*<option value="centimeters">centimeters</option>
                        <option value="meters">meters</option>*@
                    </select>
                </p>
                <p>
                    <input type="number" asp-for="SpillLength" id="SpillLength">
                    <select asp-for="SpillLengthUnits" id="SpillLengthUnits">
                        <option value="ft">feet</option>
                        <option value="in">inches</option>
                        @*<option value="centimeters">centimeters</option>
                        <option value="meters">meters</option>*@
                    </select>
                </p>
                @*<p>
                    <input type="number" asp-for="SpillDepth" id="SpillDepth">
                    <select asp-for="SpillDepthUnits" id="SpillDepthUnits">
                        <option value="inch">inches</option>
                        <option value="feet">feet</option>
                        <option value="centimeters">centimeters</option>
                        <option value="meters">meters</option>
                    </select>
                </p>*@
            </div>
            <p>
                Spill Surface:
                <select asp-for="SpillSurfaceId" asp-items="ViewBag.SpillSurfaceId" id="SpillSurfaceId"></select>
            </p>
            <div>
                <label>Spill Duration (hrs):</label>
                <input type="number" asp-for="SpillDurationHours" placeholder="Spill Duration in Hours" id="SpillDurationHrs">
                <label>Spill Duration (min):</label>
                <input type="number" asp-for="SpillDurationMinutes" placeholder="Spill Duration in Minutes" id="SpillDurationMin">
            </div>
            @*<p>
                Time of Cleanup: <input type="datetime-local" asp-for="CleanupStartTime" id="CleanupStartTime">
            </p>*@
        </div>
        <div class="form-group tab">
            <h1>Perform Calculation</h1>
            <input type="button" class="btn btn-primary" value="Perform Spill Calculation" onclick="calculateSpill()" />
            <div id="spilLresults" style="display:none;">
                <div>
                    <label asp-for="AmountSpilled">Amount Spilled:</label>
                    <input type="text" class="form-control" asp-for="AmountSpilled" id="AmountSpilled"  />
                    <input type="text" class="form-control" asp-for="AmountSpilledUnits" id="AmountSpilledUnits"  />
                </div>
                <div>
                    <label asp-for="SpillEvaporationRate">Evaporation Rate:</label>
                    <input type="text" class="form-control" asp-for="SpillEvaporationRate" id="SpillEvaporationRate"  />
                    <input type="text" class="form-control" asp-for="SpillEvaporationRateUnits" id="SpillEvaporationRateUnits"  />
                </div>
                <div>
                    <label asp-for="AmountEvaporated">Amount Evaporated:</label>
                    <input type="text" class="form-control" asp-for="AmountEvaporated" id="AmountEvaporated"  />
                    <input type="text" class="form-control" asp-for="AmountEvaporatedUnits" id="AmountEvaporatedUnits"  />
                </div>
            </div>
        </div>

        <div class="form-group tab">
            <h1>Who to Contact</h1>
            <p>coming soon to a spill form near you!</p>
        </div>

        <div class="form-group tab">
            <h1>Extra</h1>
            <div>
                <label asp-for="Notes">Notes:</label>
                <textarea type="text" asp-for="Notes" id="Notes"></textarea>
                <span style="color: crimson;"><input value="false" type="checkbox" id="submit" onclick="submits()"> I have reviewed this document and I am ready to submit.</span>
            </div>
        </div>

        <div style="overflow:auto;">
            <div style="float:right;">
                <button type="button" class="btn btn-info" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                <button type="button" class="btn btn-info" id="nextBtn" onclick="nextPrev(1)">Next</button>
            </div>
        </div>

        <div style="text-align:center;margin-top:40px;">
            <span id="tab0" class="step"></span>
            <span id="tab1" class="step"></span>
            <span id="tab2" class="step"></span>
            <span id="tab3" class="step"></span>
            <span id="tab4" class="step"></span>
            <span id="tab5" class="step"></span>
            <span id="tab6" class="step"></span>
            <span id="tab7" class="step"></span>
            <span id="tab8" class="step"></span>
        </div>
        <br>

        <div class="form-group">
            <input type="submit" style="display: none;" id="submitButton" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>
<div style="text-align: center;">
    <a  asp-action="Index">Back to List</a>
</div>



@section Scripts {
    <script src="/js/form.js"></script>
}



<style>
    #regForm {
  background-color: #ffffff;
  width: 90%;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
  background-color: #50773e
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #50773e;
}
</style>
