@model SpillTracker.Models.Form

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Form</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SpillReportedBy" class="control-label"></label>
                <input asp-for="SpillReportedBy" class="form-control" />
                <span asp-validation-for="SpillReportedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillReportedTime" class="control-label"></label>
                <input asp-for="SpillReportedTime" class="form-control" />
                <span asp-validation-for="SpillReportedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillLocation" class="control-label"></label>
                <input asp-for="SpillLocation" class="form-control" />
                <span asp-validation-for="SpillLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillOngoing" class="control-label"></label>
                <input asp-for="SpillOngoing" class="form-control" />
                <span asp-validation-for="SpillOngoing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillContained" class="control-label"></label>
                <input asp-for="SpillContained" class="form-control" />
                <span asp-validation-for="SpillContained" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChemicalPressurized" class="control-label"></label>
                <input asp-for="ChemicalPressurized" class="form-control" />
                <span asp-validation-for="ChemicalPressurized" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillVolume" class="control-label"></label>
                <input asp-for="SpillVolume" class="form-control" />
                <span asp-validation-for="SpillVolume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillVolumeUnits" class="control-label"></label>
                <input asp-for="SpillVolumeUnits" class="form-control" />
                <span asp-validation-for="SpillVolumeUnits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChemicalConcentration" class="control-label"></label>
                <input asp-for="ChemicalConcentration" class="form-control" />
                <span asp-validation-for="ChemicalConcentration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillFormingPuddle" class="control-label"></label>
                <input asp-for="SpillFormingPuddle" class="form-control" />
                <span asp-validation-for="SpillFormingPuddle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillReachWaterSource" class="control-label"></label>
                <input asp-for="SpillReachWaterSource" class="form-control" />
                <span asp-validation-for="SpillReachWaterSource" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WaterSource" class="control-label"></label>
                <input asp-for="WaterSource" class="form-control" />
                <span asp-validation-for="WaterSource" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillDuration" class="control-label"></label>
                <input asp-for="SpillDuration" class="form-control" />
                <span asp-validation-for="SpillDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CleanupStartTime" class="control-label"></label>
                <input asp-for="CleanupStartTime" class="form-control" />
                <span asp-validation-for="CleanupStartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChemicalTemperature" class="control-label"></label>
                <input asp-for="ChemicalTemperature" class="form-control" />
                <span asp-validation-for="ChemicalTemperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChemicalTemperatureUnits" class="control-label"></label>
                <input asp-for="ChemicalTemperatureUnits" class="form-control" />
                <span asp-validation-for="ChemicalTemperatureUnits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillWidth" class="control-label"></label>
                <input asp-for="SpillWidth" class="form-control" />
                <span asp-validation-for="SpillWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillWidthUnits" class="control-label"></label>
                <input asp-for="SpillWidthUnits" class="form-control" />
                <span asp-validation-for="SpillWidthUnits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillLength" class="control-label"></label>
                <input asp-for="SpillLength" class="form-control" />
                <span asp-validation-for="SpillLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillLengthUnits" class="control-label"></label>
                <input asp-for="SpillLengthUnits" class="form-control" />
                <span asp-validation-for="SpillLengthUnits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillDepth" class="control-label"></label>
                <input asp-for="SpillDepth" class="form-control" />
                <span asp-validation-for="SpillDepth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillDepthUnits" class="control-label"></label>
                <input asp-for="SpillDepthUnits" class="form-control" />
                <span asp-validation-for="SpillDepthUnits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillArea" class="control-label"></label>
                <input asp-for="SpillArea" class="form-control" />
                <span asp-validation-for="SpillArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillAreaUnits" class="control-label"></label>
                <input asp-for="SpillAreaUnits" class="form-control" />
                <span asp-validation-for="SpillAreaUnits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillReportable" class="control-label"></label>
                <input asp-for="SpillReportable" class="form-control" />
                <span asp-validation-for="SpillReportable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WindDirection" class="control-label"></label>
                <input asp-for="WindDirection" class="form-control" />
                <span asp-validation-for="WindDirection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WindSpeed" class="control-label"></label>
                <input asp-for="WindSpeed" class="form-control" />
                <span asp-validation-for="WindSpeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WindSpeedUnits" class="control-label"></label>
                <input asp-for="WindSpeedUnits" class="form-control" />
                <span asp-validation-for="WindSpeedUnits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressStreet" class="control-label"></label>
                <input asp-for="AddressStreet" class="form-control" />
                <span asp-validation-for="AddressStreet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressCity" class="control-label"></label>
                <input asp-for="AddressCity" class="form-control" />
                <span asp-validation-for="AddressCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressState" class="control-label"></label>
                <input asp-for="AddressState" class="form-control" />
                <span asp-validation-for="AddressState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressZip" class="control-label"></label>
                <input asp-for="AddressZip" class="form-control" />
                <span asp-validation-for="AddressZip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeatherTemperature" class="control-label"></label>
                <input asp-for="WeatherTemperature" class="form-control" />
                <span asp-validation-for="WeatherTemperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeatherTemperatureUnits" class="control-label"></label>
                <input asp-for="WeatherTemperatureUnits" class="form-control" />
                <span asp-validation-for="WeatherTemperatureUnits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeatherHumidity" class="control-label"></label>
                <input asp-for="WeatherHumidity" class="form-control" />
                <span asp-validation-for="WeatherHumidity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeatherHumidityUnits" class="control-label"></label>
                <input asp-for="WeatherHumidityUnits" class="form-control" />
                <span asp-validation-for="WeatherHumidityUnits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkyConditions" class="control-label"></label>
                <input asp-for="SkyConditions" class="form-control" />
                <span asp-validation-for="SkyConditions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillEvaporationRate" class="control-label"></label>
                <input asp-for="SpillEvaporationRate" class="form-control" />
                <span asp-validation-for="SpillEvaporationRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillEvaporationRateUnits" class="control-label"></label>
                <input asp-for="SpillEvaporationRateUnits" class="form-control" />
                <span asp-validation-for="SpillEvaporationRateUnits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountEvaporated" class="control-label"></label>
                <input asp-for="AmountEvaporated" class="form-control" />
                <span asp-validation-for="AmountEvaporated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountEvaporatedUnits" class="control-label"></label>
                <input asp-for="AmountEvaporatedUnits" class="form-control" />
                <span asp-validation-for="AmountEvaporatedUnits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountSpilled" class="control-label"></label>
                <input asp-for="AmountSpilled" class="form-control" />
                <span asp-validation-for="AmountSpilled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountSpilledUnits" class="control-label"></label>
                <input asp-for="AmountSpilledUnits" class="form-control" />
                <span asp-validation-for="AmountSpilledUnits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactNotes" class="control-label"></label>
                <input asp-for="ContactNotes" class="form-control" />
                <span asp-validation-for="ContactNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StuserId" class="control-label"></label>
                <select asp-for="StuserId" class="form-control" asp-items="ViewBag.StuserId"></select>
                <span asp-validation-for="StuserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChemicalId" class="control-label"></label>
                <select asp-for="ChemicalId" class="form-control" asp-items="ViewBag.ChemicalId"></select>
                <span asp-validation-for="ChemicalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpillSurfaceId" class="control-label"></label>
                <select asp-for="SpillSurfaceId" class="form-control" asp-items="ViewBag.SpillSurfaceId"></select>
                <span asp-validation-for="SpillSurfaceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChemicalStateId" class="control-label"></label>
                <select asp-for="ChemicalStateId" class="form-control" asp-items="ViewBag.ChemicalStateId"></select>
                <span asp-validation-for="ChemicalStateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacilityId" class="control-label"></label>
                <select asp-for="FacilityId" class="form-control" asp-items="ViewBag.FacilityId"></select>
                <span asp-validation-for="FacilityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

