<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SpillTracker</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="~/lib/favicon.ico" />
    @*<link rel="stylesheet" href ="~/css/SpinnerOverlay.css" />*@
</head>
<body>
    <header style="background-color: #50773e">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3" style="background-color: #50773e; color: white">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="width: 5%;">
                    <img src="~/images/SmallNATRSSLogo.png" width="125%" height="125%" alt="">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" style="text-align: left;">
                    <partial name="_LoginPartial" />


                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Status" asp-action="Index">Status</a>
                            </li>*@
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Chemicals" asp-action="Index">Chemicals</a>
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin"))
                            {
                                <li>
                                    <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="Index">Admin Page</a>
                                </li>

                                <li>
                                    <a class="nav-link text-light" asp-area="" asp-controller="Facilities" asp-action="Index">All Facilities</a>
                                </li>

                            }
                            if (User.IsInRole("FacilityManager") || User.IsInRole("Employee"))
                            {
                                <li>
                                    <a class="nav-link text-light" asp-area="" asp-controller="Facilities" asp-action="Index">My Facilities</a>
                                </li>

                            }
                        }
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Calculation" asp-action="Index">Calculation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Guide">Guide</a>
                        </li>
                        <li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole("Admin") || User.IsInRole("FacilityManager") || User.IsInRole("Employee"))
                                {
                                    <a class="nav-link text-light" asp-area="" asp-controller="Forms" asp-action="Index">Forms</a>
                                }
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">            
            <div class="row">
                <div class="col-4" style="text-align:center; color: black">
                    &copy; 2021 - SpillTracker - NATR SS - <a asp-area="" asp-controller="Home" asp-action="Disclaimer">Disclaimer</a> - <a asp-controller="VersionHistory" asp-action="Index">Version History</a> - <a asp-controller="Home" asp-action="Credit">Credit Page</a>
                </div>
                @*<div class="col-4" style="text-align:center;">
                    
                </div>
                <div class="col-4"style="text-align:center;">
                    
                </div>*@
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/calculate.js" asp-append-version="true" type="module"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
