<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SpillTracker</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    @*<link rel="stylesheet" href ="~/css/SpinnerOverlay.css" />*@
</head>
<body>
    <header style="background-color: #50773e">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3" style="background-color: #50773e; color: white">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="width: 5%;">
                    <img src="~/images/SmallNATRSSLogo.png" width="125%" height="125%" alt="">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" style="text-align: left;">
                    <partial name="_LoginPartial" />


                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Status" asp-action="Index">Status</a>
                            </li>*@
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Chemicals" asp-action="Index">Chemicals</a>
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin"))
                            {
                                <li>
                                    <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="Index">Admin Page</a>
                                </li>

                                <li>
                                    <a class="nav-link text-light" asp-area="" asp-controller="Facilities" asp-action="Index">All Facilities</a>
                                </li>

                            }
                            if (User.IsInRole("FacilityManager") || User.IsInRole("Employee"))
                            {
                                <li>
                                    <a class="nav-link text-light" asp-area="" asp-controller="Facilities" asp-action="Index">My Facilities</a>
                                </li>

                            }
                        }
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Calculation" asp-action="Index">Calculation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Guide">Guide</a>
                        </li>
                        <li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole("Admin") || User.IsInRole("FacilityManager") || User.IsInRole("Employee"))
                                {
                                    <a class="nav-link text-light" asp-area="" asp-controller="Forms" asp-action="Index">Forms</a>
                                }
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - SpillTracker - NATR SS

            <button style="margin: auto;" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Version History
            </button>
            <div id="versionH" class="dropdown-menu" style="width: 90vw; height: 20rem; overflow-y: auto;">

            </div>


            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Launch demo modal
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h6>WEBSITE DISCLAIMER</h6>
                            <p>
                                The information provided by NATR Software Solutions (“we,” “us” or “our”) on https://spilltracker.azurewebsites.net/ (the “Site”)
                                and our mobile application is for general informational purposes only. All information on the Site and our mobile applicationis provided
                                in good faith, however we make no representation or warranty of any kind, express or implied, regarding the accuracy, adequacy, validity,
                                reliability, availability or completeness of any information on the Site or our mobile application UNDER NO CIRCUMSTANCE SHALL WE HAVE ANY
                                LIABILITY TO YOU FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF THE SITE OR OUR MOBILE APPLICATION OR RELIANCE ON ANY
                                INFORMATION PROVIDED ON THE SITEAND OUR MOBILE APPLICATION. YOUR USE OF THE SITE AND OUR MOBILE APPLICATION AND YOUR RELIANCE ON ANY INFORMATION
                                ON THE SITE AND OUR MOBILE APPLICATIONIS SOLELY AT YOUR OWN RISK.
                            </p>


                            <h6>EXTERNAL LINKS DISCLAIMER</h6>
                            <p>
                                The Site and our mobile application may contain (or you may be sent through the Site or our mobile application) links to other websites or content
                                belonging to or originating from third parties or links to websites and features in banners or other advertising. Such external links are not investigated,
                                monitored, or checked for accuracy, adequacy, validity, reliability, availability or completeness by us. WE DO NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME
                                RESPONSIBILITY FOR THE ACCURACY OR RELIABILITY OF ANY INFORMATION OFFERED BY THIRD-PARTY WEBSITES LINKED THROUGH THE SITE OR ANY WEBSITE OR FEATURE LINKED
                                IN ANY BANNER OR OTHER ADVERTISING. WE WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS
                                OF PRODUCTS OR SERVICES.
                            </p>

                            <h6>PROFESSIONAL DISCLAIMER</h6>
                            <p>
                                The Site cannot and does not contain chemical advice. The chemical information is provided for general informational and educational purposes only and is not
                                a substitute for professional advice. Accordingly, before taking any actions based upon such information, we encourage you to consult with the appropriate professsionals.
                                We do not provide any kind of chemical advice. THE USE OR RELIANCE OF ANY INFORMATION CONTAINED ON THIS SITE OR OUR MOBILE APPLICATION IS SOLELY AT YOUR OWN RISK.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>











            @*place the disclaimer modal here*@
            @*<button id="facBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                    Disclaimer
                </button>*@
            <!-- Modal -->
            <!-- Button trigger modal -->
            <!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Launch demo modal
            </button>-->
            <!-- Modal -->
            <!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h4>WEBSITE DISCLAIMER</h4>
                            <p style="">
                                The information provided by NATR Software Solutions (“we,” “us” or “our”) on https://spilltracker.azurewebsites.net/ (the “Site”)
                                and our mobile application is for general informational purposes only. All information on the Site and our mobile applicationis provided
                                in good faith, however we make no representation or warranty of any kind, express or implied, regarding the accuracy, adequacy, validity,
                                reliability, availability or completeness of any information on the Site or our mobile application UNDER NO CIRCUMSTANCE SHALL WE HAVE ANY
                                LIABILITY TO YOU FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF THE SITE OR OUR MOBILE APPLICATION OR RELIANCE ON ANY
                                INFORMATION PROVIDED ON THE SITEAND OUR MOBILE APPLICATION. YOUR USE OF THE SITE AND OUR MOBILE APPLICATION AND YOUR RELIANCE ON ANY INFORMATION
                                ON THE SITE AND OUR MOBILE APPLICATIONIS SOLELY AT YOUR OWN RISK.
                            </p>


                            <h4>EXTERNAL LINKS DISCLAIMER</h4>
                            <p>
                                The Site and our mobile application may contain (or you may be sent through the Site or our mobile application) links to other websites or content
                                belonging to or originating from third parties or links to websites and features in banners or other advertising. Such external links are not investigated,
                                monitored, or checked for accuracy, adequacy, validity, reliability, availability or completeness by us. WE DO NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME
                                RESPONSIBILITY FOR THE ACCURACY OR RELIABILITY OF ANY INFORMATION OFFERED BY THIRD-PARTY WEBSITES LINKED THROUGH THE SITE OR ANY WEBSITE OR FEATURE LINKED
                                IN ANY BANNER OR OTHER ADVERTISING. WE WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS
                                OF PRODUCTS OR SERVICES.
                            </p>

                            <h4>PROFESSIONAL DISCLAIMER</h4>
                            <p>
                                The Site cannot and does not contain chemical advice. The chemical information is provided for general informational and educational purposes only and is not
                                a substitute for professional advice. Accordingly, before taking any actions based upon such information, we encourage you to consult with the appropriate professsionals.
                                We do not provide any kind of chemical advice. THE USE OR RELIANCE OF ANY INFORMATION CONTAINED ON THIS SITE OR OUR MOBILE APPLICATION IS SOLELY AT YOUR OWN RISK.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>-->
            @*<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Full Disclaimer</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>*@
            @*<div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>*@
            <div class="">
                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Disclaimer">Disclaimer</a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/calculate.js" asp-append-version="true" type="module"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
