@{
    ViewData["Title"] = "Home Page";
}


<p class="text-center" id="stats">@*Put stats from AJAX question here*@</p>

<div class="row">
    <div class="col">
        <div class="text-center">
            <img src="~/images/Mount_Everest_as_seen_from_Drukair2_PLW_edit.jpg" alt="Mount Everst as seen from Drukair2" width="1024" />
        </div>
    </div>
</div>

