@model AdminVM


@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/SpinnerOverlay.css" />


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1 class="text-center">Admin Panel</h1>
            </div>
            <p>
               
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 border rounded" style="padding-bottom: 1%">
            <div id="EPCRAoverlay">
                <div class="w-100 d-flex justify-content-center align-items-center">
                    <div class="spinner"></div>
                </div>
            </div>
            <h4 class="text-center">EPCRA Scraper</h4>
            <p>
                Running this will run the EPCRA Scraper function.
            </p>
            <div class="form-group" style="text-align: center">
                <label for="EPCRAtableXpath">Table Xpath:</label>
                <input id="EPCRAtableXpath" type="text" style="width:100%" value="/html/body/div/div[2]/div[2]/div[43]/div[2]/table" />
            </div>
            <button id="EPCRAscrapeBtn" type="button" class="btn btn-primary btn-block">
                Execute
            </button>
        </div>
        <div class="col-md-4 border rounded" style="padding-bottom: 1%">
            <div id="CERCLAoverlay">
                <div class="w-100 d-flex justify-content-center align-items-center">
                    <div class="spinner"></div>
                </div>
            </div>
            <h4 class="text-center">CERCLA Scraper</h4>
            <p>
                Running this will run the CERCLA Scraper function.
            </p>
            <div class="form-group" style="text-align: center">
                <label for="CERCLAtableXpath">Table Xpath:</label>
                <input id="CERCLAtableXpath" type="text" style="width:100%" value="/html/body/div/div[2]/div[2]/div[4]/div[2]/table" />
            </div>
            <button id="CERCLAscrapeBtn" type="button" class="btn btn-primary btn-block">
                Execute
            </button>
        </div >

        <div class="col-md-4 border rounded" style="padding-bottom: 1%">
            <h4 style="text-align:center">Create New Company</h4>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="companies.Name" class="control-label"></label>
                    <input asp-for="companies.Name" class="form-control" />
                    <span asp-validation-for="companies.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="companies.NumFacilities" class="control-label"></label>
                    <input asp-for="companies.NumFacilities" class="form-control" />
                    <span asp-validation-for="companies.NumFacilities" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="companies.AccessCode" class="control-label"></label>
                    <input asp-for="companies.AccessCode" class="form-control" />
                    <span asp-validation-for="companies.AccessCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>

        @*<div class="col-md-4 border rounded" style="padding-bottom: 1%">
            <div id="updateChemsOverlay">
                <div class="w-100 d-flex justify-content-center align-items-center">
                    <div class="spinner"></div>
                </div>
            </div>
            <h4 class="text-center">Update Chemical Data</h4>
            <p>
                Running this will run the Chemicals in the DB through the PubChem APIs to retireve chemical data.
            </p>
            <button id="UpdateChemsBtn" type="button" class="btn btn-primary btn-block">
                Execute
            </button>
        </div>*@


    </div>

@*<div class="row" style="padding-top:5%">
    <div class="col">
        <h3 class="text-center">Output Log</h3>
        <textarea id="outputLog" style="width:100%; height:25%" disabled>
            
        </textarea>
        
    </div>
</div>*@


@section Scripts {
    <script src="/js/adminpanel2.js"></script>
}
 @*//<script src="~/js/AdminPanel.js"></script>*@