@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model  IQueryable<ExpeditionProject.Models.Form>
<table class="table">
    <thead>
        <tr>
            <th>
                UserID
            </th>
        
            <th>
                ExpeditionID
            </th>
            <th>
                Submission Date
            </th>
            <th>
                Description
            </th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpeditionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubmissionDateTime)
                </td>
                
            </tr>
            
        }
    </tbody>
</table>